xkb_keymap "myarabic" {
    xkb_keycodes        { include "xfree86"             };
    xkb_types           { include "default"             };
    xkb_compatibility   { include "default"             };
    xkb_geometry        { include "pc(pc102)"           };

    xkb_symbols         { 

    include "en_US(pc105)+group(toggle)"

    name[Group1]= "US/ASCII";
    name[Group2]= "Arabic";

    key <TLDE> {	[	    grave,	asciitilde	],
			[     Arabic_thal,     	Arabic_shadda	]	};
    key	<AB01> {	[		z,		 Z	],
			[Arabic_hamzaonyeh,    		 Z	]	};
    key	<AC01> {	[		a,		 A	],
			[    Arabic_sheen,     		 A	]	};
    key	<AD01> {	[		q,		 Q	],
			[      Arabic_dad, 		 Q	]	};
    key	<AE01> {	[		1,	    exclam	],
			[		1,	    exclam 	]	};
    key	<AB02> {	[		x,		 X	],
			[    Arabic_hamza,    		 X	]	};
    key	<AC02> {	[		s,		 S	],
			[     Arabic_seen,   		 S	]	};
    key	<AD02> {	[		w,		 W	],
			[      Arabic_sad,    		 W	]	};
    key	<AE02> {	[		2,		at	],
			[		2,        	at	]	};
    key	<AB03> {	[		c,		 C	],
			[Arabic_hamzaonwaw,    		 C	]	};
    key	<AC03> {	[		d,		 D	],
			[      Arabic_yeh,     		 D	]	};
    key	<AD03> {	[		e,		 E	],
			[     Arabic_theh,		 E	]	};
    key	<AE03> {	[		3,	numbersign	],
			[		3,      numbersign	]	};
    key	<AB04> {	[		v,		 V	],
			[     	Arabic_ra,     		 V	]	};
    key	<AC04> {	[		f,		 F	],
			[      Arabic_beh,		 F	]	};
    key	<AD04> {	[		r,		 R	],
			[      Arabic_qaf,     		 R	]	};
    key	<AE04> {	[		4,	    dollar	],
			[		4,          dollar	]	};
    key	<AB05> {	[		b,		 B	],
			[  		b,		 B	]	};
    key	<AC05> {	[		g,		 G	],
			[      Arabic_lam,     		 G	]	};
    key	<AD05> {	[		t,		 T	],
			[      Arabic_feh,     		 T	]	};
    key	<AE05> {	[		5,	   percent	],
			[		5,	   percent	]	};
    key	<AB06> {	[		n,		 N	],
			[Arabic_alefmaksura, Arabic_maddaonalef	]	};
    key	<AC06> {	[		h,		 H	],
			[     Arabic_alef,   Arabic_hamzaonalef	]	};
    key	<AD06> {	[		y,		 Y	],
			[    Arabic_ghain,     		 Y	]	};
    key	<AE06> {	[		6,     asciicircum	],
			[		6,     asciicircum	]	};
    key	<AB07> {	[		m,		 M	],
			[Arabic_tehmarbuta,		 M	]	};
    key	<AC07> {	[		j,		 J	],
			[      Arabic_teh,	Arabic_fatha	]	};
    key	<AD07> {	[		u,		 U	],
			[      Arabic_ain,  		 U	]	};
    key	<AE07> {	[		7,	 ampersand	],
			[		7,	 ampersand	]	};
    key	<AB08> {	[	    comma,	      less	],
			[      Arabic_waw,     	   Arabic_damma	]	};
    key	<AC08> {	[		k,		 K	],
			[     Arabic_noon,     	Arabic_comma	]	};
    key	<AD08> {	[		i,		 I	],
			[       Arabic_ha,    	  division	]	};
    key	<AE08> {	[		8,	  asterisk	],
			[		8,	  asterisk	]	};
    key	<AB09> {	[	   period,	   greater	],
			[     Arabic_zain,         period	]	};
    key	<AC09> {	[		l,		 L	],
			[     Arabic_meem,     	   slash	]	};
    key	<AD09> {	[		o,		 O	],
			[     Arabic_khah,  	 multiply	]	};
    key	<AE09> {	[		9,	 parenleft	],
			[		9,	 parenleft	]	};
    key	<AB10> {	[	    slash,	  question	],
			[      Arabic_zah,  Arabic_question_mark	]	};
    key	<AC10> {	[	semicolon,	     colon	],
			[      Arabic_kaf,           colon	]	};
    key	<AD10> {	[		p,		 P	],
			[      Arabic_hah,    Arabic_semicolon	]	};
    key	<AE10> {	[		0,	parenright	],
			[		0,	parenright	]	};
    key	<AC11> {	[      apostrophe,	  quotedbl	],
			[      Arabic_tah,	  greater	]	};
    key	<AD11> {	[     bracketleft,	 braceleft	],
			[     Arabic_jeem,	 braceleft	]	};
    key	<AE11> {	[	    minus,	underscore	],
			[	    minus,	underscore	]	};
    key	<AD12> {	[    bracketright,	braceright	],
			[      Arabic_dal,	    less	]	};
    key	<AE12> {	[	    equal,	      plus	],
			[	    equal,	      plus	]	};
    key	<BKSL> {	[	backslash,	       bar	],
			[	backslash,             bar	]	};

    // End alphanumeric section
    
    // Begin modifier mappings 

    modifier_map Shift  { Shift_L };
    modifier_map Lock   { Caps_Lock, ISO_Lock };
    modifier_map Control{ Control_L };
    modifier_map Mod3   { Mode_switch };
    };
};



