xkb_keymap "myhebrew" {
    xkb_keycodes        { include "xfree86"             };
    xkb_types           { include "default"             };
    xkb_compatibility   { include "default"             };
    xkb_geometry        { include "pc(pc102)"           };

    xkb_symbols         { 

    include "en_US(pc105)+group(toggle)"

    name[Group1]= "US/ASCII";
    name[Group2]= "Hebrew";

    key <TLDE> {	[	    grave,	asciitilde	],
			[     	semicolon,     	asciitilde	]	};
    key	<AB01> {	[		z,		 Z	],
			[     hebrew_zain,    		 Z	]	};
    key	<AC01> {	[		a,		 A	],
			[     hebrew_shin,     		 A	]	};
    key	<AD01> {	[		q,		 Q	],
			[ 	    slash, 		 Q	]	};
    key	<AE01> {	[		1,	    exclam	],
			[		1,	    exclam 	]	};
    key	<AB02> {	[		x,		 X	],
			[   hebrew_samech,    		 X	]	};
    key	<AC02> {	[		s,		 S	],
			[    hebrew_dalet,   		 S	]	};
    key	<AD02> {	[		w,		 W	],
			[      apostrophe,    		 W	]	};
    key	<AE02> {	[		2,		at	],
			[		2,        	at	]	};
    key	<AB03> {	[		c,		 C	],
			[      hebrew_bet,     		 C	]	};
    key	<AC03> {	[		d,		 D	],
			[    hebrew_gimel,     		 D	]	};
    key	<AD03> {	[		e,		 E	],
			[     hebrew_qoph,		 E	]	};
    key	<AE03> {	[		3,	numbersign	],
			[		3,      numbersign	]	};
    key	<AB04> {	[		v,		 V	],
			[     	hebrew_he,     		 V	]	};
    key	<AC04> {	[		f,		 F	],
			[     hebrew_kaph,		 F	]	};
    key	<AD04> {	[		r,		 R	],
			[     hebrew_resh,     		 R	]	};
    key	<AE04> {	[		4,	    dollar	],
			[		4,          dollar	]	};
    key	<AB05> {	[		b,		 B	],
			[      hebrew_nun,		 B	]	};
    key	<AC05> {	[		g,		 G	],
			[     hebrew_ayin,     		 G	]	};
    key	<AD05> {	[		t,		 T	],
			[    hebrew_aleph,     		 T	]	};
    key	<AE05> {	[		5,	   percent	],
			[		5,	   percent	]	};
    key	<AB06> {	[		n,		 N	],
			[      hebrew_mem,     		 N	]	};
    key	<AC06> {	[		h,		 H	],
			[      hebrew_yod,     		 H	]	};
    key	<AD06> {	[		y,		 Y	],
			[      hebrew_tet,     		 Y	]	};
    key	<AE06> {	[		6,     asciicircum	],
			[		6,     asciicircum	]	};
    key	<AB07> {	[		m,		 M	],
			[     hebrew_zade,		 M	]	};
    key	<AC07> {	[		j,		 J	],
			[     hebrew_chet,		 J	]	};
    key	<AD07> {	[		u,		 U	],
			[      hebrew_waw,  		 U	]	};
    key	<AE07> {	[		7,	 ampersand	],
			[		7,	 ampersand	]	};
    key	<AB08> {	[	    comma,	      less	],
			[      hebrew_taw,     	      less	]	};
    key	<AC08> {	[		k,		 K	],
			[    hebrew_lamed,     		 K	]	};
    key	<AD08> {	[		i,		 I	],
			[ hebrew_finalnun,    		 I	]	};
    key	<AE08> {	[		8,	  asterisk	],
			[		8,	  asterisk	]	};
    key	<AB09> {	[	   period,	   greater	],
			[hebrew_finalzade,         greater	]	};
    key	<AC09> {	[		l,		 L	],
			[hebrew_finalkaph,     		 L	]	};
    key	<AD09> {	[		o,		 O	],
			[ hebrew_finalmem,  		 O	]	};
    key	<AE09> {	[		9,	 parenleft	],
			[		9,	 parenleft	]	};
    key	<AB10> {	[	    slash,	  question	],
			[	   period,	  question	]	};
    key	<AC10> {	[	semicolon,	     colon	],
			[  hebrew_finalpe,           colon	]	};
    key	<AD10> {	[		p,		 P	],
			[       hebrew_pe,     		 P	]	};
    key	<AE10> {	[		0,	parenright	],
			[		0,	parenright	]	};
    key	<AC11> {	[      apostrophe,	  quotedbl	],
			[	    comma,	  quotedbl	]	};
    key	<AD11> {	[     bracketleft,	 braceleft	],
			[     bracketleft,	 braceleft	]	};
    key	<AE11> {	[	    minus,	underscore	],
			[	    minus,	underscore	]	};
    key	<AD12> {	[    bracketright,	braceright	],
			[    bracketright,	braceright	]	};
    key	<AE12> {	[	    equal,	      plus	],
			[	    equal,	      plus	]	};
    key	<BKSL> {	[	backslash,	       bar	],
			[	backslash,             bar	]	};

    // End alphanumeric section
    
    // Begin modifier mappings 

    modifier_map Shift  { Shift_L };
    modifier_map Lock   { Caps_Lock, ISO_Lock };
    modifier_map Control{ Control_L };
    modifier_map Mod3   { Mode_switch };
    };
};



