xkb_keymap "myrussian" {
    xkb_keycodes        { include "xfree86"             };
    xkb_types           { include "default"             };
    xkb_compatibility   { include "default"             };
    xkb_geometry        { include "pc(pc102)"           };

    xkb_symbols         { 

    include "en_US(pc105)+group(toggle)"

    name[Group1]= "US/ASCII";
    name[Group2]= "Russian";

    key	<TLDE> {	[	    grave,	asciitilde	],
			[     Cyrillic_io,     Cyrillic_IO	]	};
    key	<LSGT> {	[	     less,	   greater	],
			[	      bar,	 brokenbar	]	};
    key	<AD01> {	[		q,		 Q	],
			[ Cyrillic_shorti, Cyrillic_SHORTI	]	};
    key	<AE01> {	[		1,	    exclam	],
			[		1,	    exclam 	]	};
    key	<AB01> {	[		z,		 Z	],
			[     Cyrillic_ya,     Cyrillic_YA	]	};
    key	<AC02> {	[		s,		 S	],
			[   Cyrillic_yeru,   Cyrillic_YERU	]	};
    key	<AC01> {	[		a,		 A	],
			[     Cyrillic_ef,     Cyrillic_EF	]	};
    key	<AD02> {	[		w,		 W	],
			[    Cyrillic_tse,    Cyrillic_TSE	]	};
    key	<AE02> {	[		2,		at	],
			[		2,        quotedbl	]	};
    key	<AB03> {	[		c,		 C	],
			[     Cyrillic_es,     Cyrillic_ES	]	};
    key	<AB02> {	[		x,		 X	],
			[    Cyrillic_che,    Cyrillic_CHE	]	};
    key	<AC03> {	[		d,		 D	],
			[     Cyrillic_ve,     Cyrillic_VE	]	};
    key	<AD03> {	[		e,		 E	],
			[      Cyrillic_u,	Cyrillic_U	]	};
    key	<AE04> {	[		4,	    dollar	],
			[		4,        asterisk	]	};
    key	<AE03> {	[		3,	numbersign	],
			[		3,      apostrophe	]	};
    key	<AB04> {	[		v,		 V	],
			[     Cyrillic_em,     Cyrillic_EM	]	};
    key	<AC04> {	[		f,		 F	],
			[      Cyrillic_a,	Cyrillic_A	]	};
    key	<AD05> {	[		t,		 T	],
			[     Cyrillic_ie,     Cyrillic_IE	]	};
    key	<AD04> {	[		r,		 R	],
			[     Cyrillic_ka,     Cyrillic_KA	]	};
    key	<AE05> {	[		5,	   percent	],
			[		5,	     colon	]	};
    key	<AB06> {	[		n,		 N	],
			[     Cyrillic_te,     Cyrillic_TE	]	};
    key	<AB05> {	[		b,		 B	],
			[      Cyrillic_i,	Cyrillic_I	]	};
    key	<AC06> {	[		h,		 H	],
			[     Cyrillic_er,     Cyrillic_ER	]	};
    key	<AC05> {	[		g,		 G	],
			[     Cyrillic_pe,     Cyrillic_PE	]	};
    key	<AD06> {	[		y,		 Y	],
			[     Cyrillic_en,     Cyrillic_EN	]	};
    key	<AE06> {	[		6,     asciicircum	],
			[		6,	     comma	]	};
    key	<AB07> {	[		m,		 M	],
			[Cyrillic_softsign,Cyrillic_SOFTSIGN	]	};
    key	<AC07> {	[		j,		 J	],
			[      Cyrillic_o,	Cyrillic_O	]	};
    key	<AD07> {	[		u,		 U	],
			[    Cyrillic_ghe,    Cyrillic_GHE	]	};
    key	<AE07> {	[		7,	 ampersand	],
			[		7,	    period	]	};
    key	<AE08> {	[		8,	  asterisk	],
			[		8,	 semicolon	]	};
    key	<AB08> {	[	    comma,	      less	],
			[     Cyrillic_be,     Cyrillic_BE	]	};
    key	<AC08> {	[		k,		 K	],
			[     Cyrillic_el,     Cyrillic_EL	]	};
    key	<AD08> {	[		i,		 I	],
			[    Cyrillic_sha,    Cyrillic_SHA	]	};
    key	<AD09> {	[		o,		 O	],
			[  Cyrillic_shcha,  Cyrillic_SHCHA	]	};
    key	<AE10> {	[		0,	parenright	],
			[		0,	parenright	]	};
    key	<AE09> {	[		9,	 parenleft	],
			[		9,	 parenleft	]	};
    key	<AB09> {	[	   period,	   greater	],
			[     Cyrillic_yu,     Cyrillic_YU	]	};
    key	<AB10> {	[	    slash,	  question	],
			[	    slash,	  question	]	};
    key	<AC09> {	[		l,		 L	],
			[     Cyrillic_de,     Cyrillic_DE	]	};
    key	<AC10> {	[	semicolon,	     colon	],
			[    Cyrillic_zhe,    Cyrillic_ZHE	]	};
    key	<AD10> {	[		p,		 P	],
			[     Cyrillic_ze,     Cyrillic_ZE	]	};
    key	<AE11> {	[	    minus,	underscore	],
			[	    minus,	underscore	]	};
    key	<AC11> {	[      apostrophe,	  quotedbl	],
			[      Cyrillic_e,	Cyrillic_E	]	};
    key	<AD11> {	[     bracketleft,	 braceleft	],
			[     Cyrillic_ha,     Cyrillic_HA	]	};
    key	<AE12> {	[	    equal,	      plus	],
			[	    equal,	      plus	]	};
    key	<AD12> {	[    bracketright,	braceright	],
			[Cyrillic_hardsign,Cyrillic_HARDSIGN	]	};
    key	<BKSL> {	[	backslash,	       bar	],
			[	backslash,             bar	]	};
    };
};


